<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Company:</b>
  <%= @task.company.name %>
</p>

<p>
  <b>Importance:</b>
  <%= @task.importance %>
</p>

<p>
  <b>Tags:</b>
  <%= @task.tag_list %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
