<% if @tweets.present? %>

	<b><img src="<%= @twuser.profile_image_url %>"> &nbsp; <%= @twuser.name %>'s last 5 Tweets...</b>

	<% @tweets.each do |tweet| %>

		<p>
			<%= auto_link(tweet.text) %>
		</p>
		<p>
			<% if  tweet.hashtags.size > 0 %>
			<i>Tags: 
			<% tweet.hashtags.each do |hashtag| %>
				<a href="about?q=<%= hashtag.text %>">#<%= hashtag.text %></a>&nbsp;
			<% end %>
			</i>
			<% end %>
		</p>
		
	<% end %>

<% else %>
	Unable to connnect to Twitter at this time...
<% end %>

<p>&nbsp;</p>

<h4>And ERCubed's alter ego...</h4>
<% if @pp_tweets.present? %>

	<b><img src="<%= @pp_twuser.profile_image_url %>"> &nbsp; <%= @pp_twuser.name %>'s last 5 Tweets...</b>

	<% @pp_tweets.each do |pptweet| %>

		<p><%= auto_link(pptweet.text) %></p>
		<p>
			<% if  pptweet.hashtags.size > 0 %>
			<i>Tags: 
			<% pptweet.hashtags.each do |hashtag| %>
				#<%= hashtag.text %>&nbsp;
			<% end %>
			</i>
			<% end %>
		</p>
		
	<% end %>

<% else %>
	Unable to connnect to Twitter at this time...
<% end %>



